<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>To Do List</title>
</head>
<body>

<div class="box">
    <h3><%= kindOfDay %></h3>
</div>

<div class="box" id="heading">

    <h1>To Do List</h1>   

</div>

<div class="box">

    <% for(var i=0; i<todos.length; i++){ %>

    <div class="item">
       <input id="deleteItem" type="checkbox">
       <p><%= todos[i] %></p>
    </div>

    <% } %>

    <form class="item" action="/" method="POST">
        <input type="text" name="newTodo" placeholder="New To Do" autocomplete="off">
        <button type="submit" name="button">+</button>
    </form>

</div>


<script>
$("#deleteItem").click(function (e) { 
   $(this).closest(".item").remove();

})

// var colors = ["red", "green", "blue", "gray", "purple", "yellow"];
// var rand = colors[Math.floor(Math.random()* colors.length)];

// $("body").css("background-color", colors[rand]);

</script>




<footer>
   <h6>Emr4706Ny</h6> 
</footer>

    
</body>
</html>
